<%= simple_form_for @record, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= @record.new_record? ? 'New' : 'Edit' %> Record</legend>

    <%= f.input :date %>
    <%= f.association :category, collection: Category.all, prompt: "Choose a Category" %>
    <%= f.input :amount %>
    <%= f.input :comment %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
