<h1><%= t('billing_record.title') %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('billing_record.type') %></th>
      <th><%= t('billing_record.date') %></th>
      <th><%= t('billing_record.category') %></th>
      <th><%= t('billing_record.amount') %></th>
      <th><%= t('billing_record.comment') %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td>
          <span class="label <%= record.income? ? "label-success" : "label-warning" %>"><%= record.type_cn %></span>
        </td>
        <td><%= record.date %></td>
        <td><%= record.category.name %></td>
        <td>
          <span class="badge <%= record.income? ? "badge-success" : "badge-warning" %>"><%= record.amount %></span>
        </td>
        <td><%= record.comment %></td>
        <td>
          <%= link_to t('edit'), edit_billing_record_path(record), :class => 'btn btn-mini' %>
          <%= link_to t('delete'), billing_record_path(record), method: :delete, confirm: t('are_you_sure_delete'), :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('billing_record.new'), new_billing_record_path, :class => 'btn btn-primary' %>
